@model quido.Models.IndexViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Manage";
}
<style type="text/css" scoped>
    body {
        margin-top: 50px;
    }

    #accordion .glyphicon {
        margin-right: 10px;
    }

    .panel-body {
        padding: 0px;
    }

    div.questionHover :hover {
        background-color: darkgrey;
    }

    .panel-body table tr td {
        padding-left: 15px;
    }

    .panel-body .table {
        margin-bottom: 0px;
    }

    .modal-header, .close {
        background-color: #0078D7;
        color: white !important;
        text-align: center;
        font-size: 30px;
    }

    .modal-footer {
        background-color: #f9f9f9;
    }
    .inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

</style>









<div class="jumbotron" style="background-color:#F2F2F2;">
    <div id="body">
        <div class="container">
            
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <center><h4>@User.Identity.GetUserName() - profil</h4></center>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a id="openQuestionForm" data-toggle="collapse" data-parent="#accordion" href="">
                                        <span class="glyphicon glyphicon-plus">
                                        </span>Přidat otázku
                                    </a>
                                </h4>
                            </div>
                        </div>
                        @*<div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                        <span class="glyphicon glyphicon-th">
                                        </span>Moje otázky
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <a href="#">Najpopulárnejšie</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a href="#">Najnovšie</a>
                                            </td>
                                        </tr>                                        
                                    </table>
                                </div>
                            </div>
                        </div>*@
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                        <span class="glyphicon glyphicon-user">
                                        </span>Můj účet
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-wrench "></span>
                                                @Html.ActionLink("Změna hesla", "ChangePassword")
                                            </td>
                                        </tr>
                                        @*<tr>
                                            <td>
                                                <span class="glyphicon glyphicon-usd "></span><a href="#">
                                                    Stav účtu
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-trash "></span><a href="#">
                                                    Vymazať účet
                                                </a>
                                            </td>
                                        </tr>*@
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="body" class="col-sm-9 col-md-8">
                    <div id="loading"><img class="img-responsive2" src="@Url.Content("~/Content/Resources/load.gif")" alt="" height="50" width="50"></div>
                    <div id="userQuestions" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="questionModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:15px 30px; border-radius:5px 5px 0px 0px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3><span class="glyphicon glyphicon-plus"></span> Přidat otázku</h3>
            </div>

            <div class="modal-body" style="padding:40px 50px;">
                <form data-toggle="validator" role="form" id="questionForm">
                    <div id="questionDiv" class="form-group">
                        <label for="textarea_textQuestion"><span class="glyphicon glyphicon-question-sign"></span> Text otázky</label>
                        <textarea style="max-width: 100% !important;" rows="2" class="form-control" id="textQuestion" name="textQuestion" data-error="Vyplnte text prosím" required placeholder="Vložte text otázky" maxlength="100"></textarea>
                        <div id="questionErrorDiv" class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="textarea_descriptionQuestion"><span class="glyphicon glyphicon-info-sign"></span> Popis otázky</label>
                        <textarea style="max-width: 100% !important;" rows="2" class="form-control" id="descriptionQuestion" name="descriptionQuestion" placeholder="Vložte popis vaší otázky"  maxlength="300"></textarea>
                        <div id="descErrorDiv" class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="selectList"><span class="glyphicon glyphicon-tag"></span> Kategorie:</label>
                        <select style="max-width: 100% !important;" class="form-control" id="questionModalCategories" name="questionModalCategories"></select>
                    </div>
                    <div class="form-group">
                        <label for="selectList"><span class="glyphicon glyphicon-tag"></span>Typ otázky</label>
                        <select  style="max-width: 100% !important;" class="form-control" id="typeOfQuestionModal" name="typeOfQuestionModal">
                            <option title="Pevně nadefinovány odpovědi."value="selectFromChoices">Výběr z možností</option>
                            <option title="Uživatel odpovída pouze číslem."value="addChoiceNumber">&#268;íselná odpověd</option>
                            <option title="Výběr pouze z možností ano nebo ne."value="yesOrNo">Ano/Ne</option>
                        </select>
                        
                    </div>                    
                    <div>
                        <label style="font-size:20px;"> Odpovědi: <br /></label>
                    </div>
                    <div id="answers">
                        <div id="answers-all">
                            <div id="answer1div" class="form-group">
                                <input type="text" class="form-control answerInput" id="answer1" name="answer1" data-error="Vyplnte odpověď prosím" required placeholder="Odpověď 1" maxlength="25">
                                <div id="answer1errorDiv" class="help-block with-errors"></div>                               
                            </div>
                            <div id="answer2div" class="form-group">
                                <input type="text" class="form-control answerInput" id="answer2" name="answer2" data-error="Vyplnte odpověď prosím" required placeholder="Odpověď 2" maxlength="25">
                                <div id="answer2errorDiv" class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div id="addAnswerDiv">
                            <button id="addAnswer" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>Přidat odpověď</button>
                        </div>
                        
                    </div>
                    <div id="answersYesOrNo" style="display:none;">
                        <div  class="form-group">
                            <input  disabled type="text" class="form-control"  value="Ano">
                        </div>
                        <div  class="form-group">
                            <input disabled type="text" class="form-control" value="Ne">
                        </div>
                    </div>
                    
                    <div id="answersNumber" style="display:none;">
                        Uživatel sám zadá číselnou odpověd.
                    </div>
                    <div class="form-group">
                        <button id="sendQuestion" style="background-color:#0078D7" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> Odeslat otázku</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts
{

    <script type="text/javascript">
        

        //nacitanie kategorii cez ajax a ay potom otvori modal
        function getQuestionCategories() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("getQuestionCategories", "question")',
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $('#questionModalCategories').empty();
                    $.each(result, function (id, value) {
                        $('#questionModalCategories').append($('<option/>', {
                            value: value.value,
                            text: result[id].Name
                        }));

                    });
                    
                    $("#textQuestion").val("");
                    $("#descriptionQuestion").val("");
                    $("#answer1").val("");
                    $("#answer2").val("");
                    $('.answerInput').each(function (i, obj) {
                        $(this).val("");
                       
                    });
                    $("#questionModalCategories option:selected").prop("selected", false);
                    $("#questionModalCategories option:first").attr('selected', 'selected');

                    $("#typeOfQuestionModal option:selected").prop("selected", false);
                    $("#typeOfQuestionModal option:first").attr('selected', 'selected');
                    $('#typeOfQuestionModal').trigger('change');
                   // $("select[name=questionModalCategories] option[value=1]").attr('selected', 'selected');
                    $("#questionModal").modal();
                },
                error: function (response) {
                    alert('Nepodarilo se nacist kategorie');
                }
            });

        };


        function getUserQuestions() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("getUserQuestions", "question")',
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        $('#loading').hide();
                        var html = '<div class="row">';
                        var counter = 0;
                        var myData = JSON.parse(data.list);
                        $.each(myData, function (key, value) {
                            html += '<div class="col-md-6 col-sm-6" style="padding: 5px">';
                            html += '<div class="clickableQuestion" id="' + value.questionId + '">';
                            html += '<p style="color:#0078D7; font-size:18px;">' + value.questionText + '</p>';
                            html += '<div style="position:absolute;bottom: 0;left: 0;padding: 15px">';
                            html += value.questionCategory + '<br/>' + value.votesCount + 'x</div>';
                            html += '<div style="position:absolute;bottom: 0;right: 0;padding: 15px">';
                            html += value.questionCreated + '</div>';
                            html += '</div>';
                            html += '</div>';
                            counter++;




                        });
                        if (counter === 0) {
                            html += 'Nemáte žádne otázky';
                        }
                        html += '</div>\n';
                        $('#userQuestions').append(html);
                    }
                    else
                    {
                        alert("Vyskytla se chyba: " + data.responseText);
                    }
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });

        };



        $("#openQuestionForm").click(function () {
            getQuestionCategories();

        });

        $('#questionForm').validator();
        $(document).ready(function () {

            getUserQuestions();

            //bug ked odide z inputu aby neostala chybova hlaska
            $("#textQuestion").focusout(function () {
                if ($.trim($("#textQuestion").val())) {
                    $('#questionErrorDiv').empty();

                }
            });
            $("#answer1").focusout(function () {
                if ($.trim($("#answer1").val())) {
                    $('#answer1errorDiv').empty();

                }

            });
            $("#answer2").focusout(function () {
                if ($.trim($("#answer2").val())) {
                    $('#answer2errorDiv').empty();

                }
            });



            //validacia formu ked sa odosle
            $("#sendQuestion").click(function () {
                var valueSelected = $('#typeOfQuestionModal').val();

                var isGood = true;
                if (!$.trim($("#textQuestion").val())) {
                    $('#questionDiv').addClass("has-error");
                    $('#questionDiv').addClass("has-danger");
                    if ($('#questionErrorDiv').text() != $('#textQuestion').attr('data-error'))
                        $('#questionErrorDiv').append($('#textQuestion').attr('data-error'));
                    isGood = false;
                }
                if (valueSelected === 'selectFromChoices') {
                    if (!$.trim($("#answer1").val())) {
                        $('#answer1div').addClass("has-error");
                        $('#answer1div').addClass("has-danger");
                        if ($('#answer1errorDiv').text() != $('#answer1').attr('data-error'))
                            $('#answer1errorDiv').append($('#answer1').attr('data-error'));
                        isGood = false;
                    }
                    if (!$.trim($("#answer2").val())) {
                        $('#answer2div').addClass("has-error");
                        $('#answer2div').addClass("has-danger");
                        if ($('#answer2errorDiv').text() != $('#answer2').attr('data-error'))
                            $('#answer2errorDiv').append($('#answer2').attr('data-error'));
                        isGood = false;
                    }

                }
                if (!isGood)
                    return false;
                else {
                    addQuestion();
                    return false;
                }

            });


            addQuestion = function () {
                answers = [];
                var valueSelected = $('#typeOfQuestionModal').val();
                if (valueSelected === 'selectFromChoices') {
                    $('.answerInput').each(function (i, obj) {
                        var val = $.trim($(this).val());
                        if (val.length > 0)
                            answers.push(val);
                    });
                }
                else if (valueSelected === 'yesOrNo') {
                    answers.push("Ano");
                    answers.push("Ne");
                }
                var questionDataModel = {
                    textQuestion: $('#textQuestion').val(),
                    descriptionQuestion: $('#descriptionQuestion').val(),
                    questionCategory: $('#questionModalCategories').val(),
                    questionType: $('#typeOfQuestionModal').val(),
                    answers: answers
                };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("addQuestion", "question")',
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    data: questionDataModel, // returns all the data in your form
                    success: function (response) {
                        $('#loading').show();
                        $('#userQuestions').empty();
                        getUserQuestions();
                        $("#questionModal").modal('toggle');
                        //alert("Otazka odosloana!");

                    },
                    error: function (response) {
                        // alert("Nepodarilo sa poslat data");
                        alert(respons);

                    }

                });
            };


            $('#typeOfQuestionModal').on('change', function (e) {
                $('#questionErrorDiv').empty();
                $('#answer1errorDiv').empty();
                $('#answer2errorDiv').empty();
                var valueSelected = this.value;
                if (valueSelected === 'selectFromChoices') {
                    $('#answers').css('display', 'block');
                    $('#answersYesOrNo').css('display', 'none');
                    $('#answersNumber').css('display', 'none');
                }
                if (valueSelected === 'yesOrNo') {
                    $('#answers').css('display', 'none');
                    $('#answersYesOrNo').css('display', 'block');
                    $('#answersNumber').css('display', 'none');
                }
                if (valueSelected === 'addChoiceNumber') {
                    $('#answers').css('display', 'none');
                    $('#answersYesOrNo').css('display', 'none');
                    $('#answersNumber').css('display', 'block');
                }
                

            });

            $("#addAnswer").on('click', function (e) {
                e.preventDefault();
                var html = '<div  class="form-group"  style="max-width:320px;">\n';
               
                html += '<input type="text" class="form-control answerInput"   placeholder="Odpověď" maxlength="25" style="display:inline-block;vertical-align:middle;">\n';
                html += '<div onClick="this.parentNode.parentNode.removeChild(this.parentNode);" title="vymazat" style="vertical-align:middle;width:15px;height:15px;cursor:pointer; display:inline-block;text-align:center;"><i class="glyphicon glyphicon-remove"></i></div>';
                html += ' </div>\n';
                
                $("#answers-all").append(html);

            });

            $(document).on('click', ".clickableQuestion", function () {
                var idQuestion = this.id;
                var url = '@Url.Action("userDetail", "question", new { id = "__id__" })';
                window.location.href = url.replace('__id__', idQuestion);

            });
            $(document).on('mouseover', ".clickableQuestion", function () {
                this.style.background = 'rgba(0, 120, 215, 0.05)';
                //this.style

            });
            $(document).on('mouseout', ".clickableQuestion", function () {
                this.style.background = 'white';

            });



        });


    </script>
}

